<%-include('../../partials/header.ejs')  %>

<section class="login-signup section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="login">
                    <div class="text-center"><a href="index.html"><img src="/public/frontend/images/logos/logo.png"
                                alt="" class="img-fluid"></a></div>
                    <h3 class="mt-4 mx-auto">Login Here</h3>
                    <p class="mb-5">Enter your valid mail & password</p>
                    <form action="/auth/login" method="POST" class="login-form row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" id="email" class="form-control" name="email"
                                    value="<%=user.email && user.email %>" placeholder="Enter mail">
                                <% if(error.email){  %>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.email  %></span>
                                <%}  %>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" class="form-control"
                                    value="<%=user.password && user.password %>" name="password" placeholder="Password">
                                <% if(error.password){  %>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.password  %></span>
                                <%}  %>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit">Login</button>

                            <p class="mt-5 mb-0">Not a member yet? <a href="signup">Register Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="/public/frontend/plugins/jquery/jquery.js"></script>
<!-- Bootstrap jQuery -->
<script src="/public/frontend/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Slick Slider -->
<script src="./public/frontend/plugins/slick-carousel/slick.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="/public/frontend/plugins/google-map/gmap.js"></script>
<!-- main js -->
<script src="/public/frontend/scripts/custom.js"></script>

</body>

</html>