<!-- Include Profile header -->
<%- include('../../partials/dashboard/dashboardHeader.ejs') %>

<section id="about-us" class="py-5">
    <div class="container">
        <div class="row">
            <!--left sidebar-->
            <%- include('../../partials/dashboard/dashboardSidebar.ejs') %>
            <!--Body Content Content-->
            <div class="col-md-9">
                <div>
                    <div class="mr-auto">
                        <h2 class="mb-3">
                            Change Your Password
                        </h2>
                    </div>
                </div>

                <div class="dashboard-area">
                    <!-- Card Start -->
                    <div class="card p-5">
                        <form method="POST" action="/dashboard/change-password">
                            <div class="form-group">
                                <label for="prevPass">Previous Password</label>
                                <input type="password" class="form-control" id="previousPassword"
                                    name="previousPassword" aria-describedby="prevPass">
                                <% if(error.previousPassword){%>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.previousPassword%></span>
                                <%} %>
                            </div>

                            <div class="form-group">
                                <label for="newPass">New Password</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword"
                                    aria-describedby="newPass">
                                <% if(error.newPassword){  %>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.newPassword%></span>
                                <%}  %>
                            </div>

                            <div class="form-group">
                                <label for="confirmPass">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    aria-describedby="confirmPass">
                                <% if(error.confirmPassword){  %>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.confirmPassword%></span>
                                <%}  %>
                            </div>
                            <button type="submit" class="btn btn-success">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>