<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css"
    integrity="sha512-2eMmukTZtvwlfQoG8ztapwAH5fXaQBzaMqdljLopRSA0i6YKM8kBAOrSSykxu9NN9HrtD45lIqfONLII2AFL/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Include Profile header -->
<%- include('../../partials/dashboard/dashboardHeader.ejs') %>


<section id="about-us" class="py-5">
    <div class="container">
        <div class="row">
            <!--left sidebar-->
            <%- include('../../partials/dashboard/dashboardSidebar.ejs') %>
            <!--Body Content Content-->
            <div class="col-md-9">
                <div>
                    <div class="mr-auto">
                        <h2 class="mb-3">
                            Create Your Profile
                        </h2>
                    </div>
                </div>

                <div class="dashboard-area">
                    <!-- Card Start -->
                    <div class="card p-5">

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="prolfe-pic">
                                        <img src="<%=user.profilePic%>" style="height: 250px;width: 250px;"
                                            alt="Profile Pics" class="img-thumbnail img-fluid" id="">
                                        <form action="/uploads/profilePic" class="my-2" id="profilePicForm">
                                            <input type="file" name="profilePicFile" id="profilePicFile" accept="img/*">
                                            <!-- User code -->
                                            <input type="button" class="btn btn-danger" id="removeProfilePic"
                                                value="Remove Pic">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form method="POST"
                            action="<%=user.isProfile==true?'/dashboard/update-profile':'/dashboard/create-profile'  %>">

                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fName" value="<%=user.fName%>" name="fName"
                                    aria-describedby="fName">
                                <% if(error.fName){  %>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.fName%></span>
                                <%}  %>
                            </div>
                            <div class="form-group">
                                <label for="fname">Last Name</label>
                                <input type="text" class="form-control" id="lName" name="lName" value="<%=user.lName%>"
                                    aria-describedby="lName">
                                <% if(error.lName){  %>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.lName%></span>
                                <%}  %>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" value="<%=user.email%>" class="form-control" id="email" disabled>
                            </div>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="title" class="form-control" id="title" name="title"
                                    value="<%=user.title%>">
                                <div class="invalid-feedback"><%=error.title %></div>
                                <% if(error.title){  %>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.title  %></span>
                                <%}  %>
                            </div>

                            <div class="form-group">
                                <label for="bio">Bio</label>
                                <input type="text" class="form-control" id="bio" name="bio" value="<%=user.bio%>">
                                <div class="invalid-feedback"><%=error.bio %></div>
                                <% if(error.bio){  %>
                                <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                    aria-hidden="true"><%=error.bio  %></span>
                                <%}  %>
                            </div>
                            <!-- facebook -->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-facebook"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Facebook Link" name="facebook"
                                        id="facebook" value="<%=user.facebook%>" />
                                    <!-- Error message -->
                                    <% if(error.facebook){  %>
                                    <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                        aria-hidden="true"><%=error.facebook  %></span>
                                    <%}  %>
                                </div>
                            </div>
                            <!-- twitter -->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-twitter"></i>
                                    </span>
                                    <input type="text" class="form-control" id="twitter" placeholder="Twitter Link"
                                        name="twitter" id="twitter" value="<%=user.twitter%>" />
                                    <!-- Error Message-->
                                    <% if(error.twitter){  %>
                                    <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                        aria-hidden="true"><%=error.twitter  %></span>
                                    <%}  %>
                                </div>
                            </div>
                            <!-- github -->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-github"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Github Link" id="github"
                                        name="github" id="github" value="<%=user.github%>" />
                                    <!--Error Message-->
                                    <% if(error.github){  %>
                                    <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                        aria-hidden="true"><%=error.github  %></span>
                                    <%}  %>
                                </div>
                            </div>
                            <!-- Website -->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-internet-explorer"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Website Link" name="website"
                                        id="website" value="<%=user.website%>" />
                                    <!-- Error message -->
                                    <% if(error.website){  %>
                                    <span class="glyphicon glyphicon-remove form-control-feedback text-danger"
                                        aria-hidden="true"><%=error.website  %></span>
                                    <%}  %>
                                </div>
                            </div>
                            <% if (user.isProfile==='true') { %>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <% }else{%>
                            <button type="submit" class="btn btn-primary">Update Profile</button><% } %>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ------------------------------------ -->
    <!-- Modal -->
    <div class="modal hide fade bd-example-modal-lg" id="crop-modal" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Resize Your Image</h1>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="cropped-image"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancel-cropping"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="upload-image">Upload</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="/backend/scripts/profilePicUpload.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"
    integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>